body {
    background-image: url(img/backgr.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    font-family: lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
}
#GameField {
    z-index: 3;
    display: block;
    position: fixed;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    height: 100%;
    width: 100%;
}

#GameStatus {
    background-color: #FFFFFF;
    border-style: outset;
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    opacity: 0.78;
}

#StatusInfo {
    text-align: center;
    line-height: 35px;
    margin-top: 330px;
    padding: 20px;
    height: 70%;
}

#StatusInfo button {
    text-align: center;
    font-size: 32px;
    padding: 20px;
    margin: 7px;
    height: 15%;
    width: 85%;
}

#callMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}
#GameStatus {
    z-index: 5;
}

#naviMap {
    z-index: 4;
    position: absolute;
    opacity: 0;
}

#customMessage {
    z-index: 9;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font-size: 80pt;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 20px #000000;
}

#customMessage p {
    margin: 10px;
}

