body {
    background-image: url(img/backgr.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    overflow: hidden;
    font-family: lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
}
#GameField {
    z-index: 3;
    display: block;
    position: fixed;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    height: 100%;
    width: 100%;
}

#GameStatus {
    background-color: #FFFFFF;
    border-style: outset;
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 0.78;
}

#StatusInfo {
    text-align: center;
    line-height: 35px;
    margin-top: 95pt;
    padding: 20px;
    height: 70%;
    width: 300px;
}

#StatusInfo button {
    text-align: center;
    font-size: 24pt;
    padding: 10px;
    margin: 5px;
    height: 15%;
    width: 70%;
}

#callMenu {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 15;
}
#GameStatus {
    z-index: 15;
}


#naviLeft {
    z-index: 5;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
#naviTop {
    z-index: 5;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
#naviRight {
    z-index: 5;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
#naviBottom {
    z-index: 5;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#customMessage {
    z-index: 4;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50%;
    transform: translateY(-30%);
    display: block;
    font-size: 42pt;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 20px #000000;
}

#customMessage p {
    margin: 10px;
}

